{% extends "base.html" %}

{% block content %}

    <div class="container">

    <div class="row">

        <div class="col-sm-12">

            <h3 class="main_titles">Citing HmtDB</h3>

            <p class="paragraphs w3-padding">If you find our database useful, please consider supporting our work by citating HmtDB in your paper.</p>

            <br />

            <!-- First reference -->
            <div class="panel">
                <p class="paragraphs w3-padding w3-medium">Clima R, Preste R, Calabrese C, Diroma Ma, Santorsola M, Scioscia G, Simone D, Shen L, Gasparre G, Attimonelli M</p>
                <p class="paragraphs w3-padding w3-large"><b>HmtDB 2016: data update, a better performing query system and human mitochondrial DNA haplogroup predictor</b></p>
                <p class="paragraphs w3-padding w3-medium"><a href="http://nar.oxfordjournals.org/content/45/D1/D698.long" title="Reference 1" target="_blank"><i>Nucleic Acids Res. 2017 Jan 4;45(D1):D698-D706</i></a></p>
            </div>

            <!-- Second reference -->
{#            <div class="panel">#}
{#                <p class="paragraphs w3-padding w3-medium">Rubino F, Piredda R, Calabrese FM, Simone D, Lang M, Calabrese C, Petruzzella V, Tommaseo-Ponzetta M, Gasparre G, Attimonelli M</p>#}
{#                <p class="paragraphs w3-padding w3-large"><b>HmtDB, a genomic resource for mitochondrion-based human variability studies</b></p>#}
{#                <p class="paragraphs w3-padding w3-medium"><a href="http://nar.oxfordjournals.org/content/40/D1/D1150.long" title="Reference 2" target="_blank"><i>Nucleic Acids Res. 2012 Jan 1;40(D1):D1150-D1159</i></a></p>#}
{#            </div>#}
{##}
{#            <!-- Third reference -->#}
{#            <div class="panel">#}
{#                <p class="paragraphs w3-padding w3-medium">Attimonelli M, Accetturo M, Santamaria M, Lascaro D, Scioscia G, Pappad&agrave G, Russo L, Zanchetta L, Tommaseo-Ponzetta M</p>#}
{#                <p class="paragraphs w3-padding w3-large"><b>HmtDB, a Human Mitochondrial Genomic Resource based on variability studies supporting population genetics and biomedical research</b></p>#}
{#                <p class="paragraphs w3-padding w3-medium"><a href="http://www.biomedcentral.com/1471-2105/6/S4/S4" title="Reference 3" target="_blank"><i>BMC Bioinformatics 2005, 6(Suppl 4):S4</i></a></p>#}
{#            </div>#}

        </div>

    </div>

    </div>

    {{ super() }}
{% endblock %}