{% extends "base.html" %}

{% block content %}

    <style type="text/css">

        body {
            background-image: url({{ url_for('static', filename = 'img/genome_background3.png') }});
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: bottom center;
            background-attachment: fixed;
        }

    </style>

    <div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}

            <div class="row" style="margin-top: 2em; margin-bottom: -3em;">

                <div class="col-sm-1">&nbsp;</div>

                <div class="col-sm-10 pulsanti w3-round-large" style="background-color: rgba(231,255,231,.6);">
                    <span class="w3-closebtn w3-text-teal w3-hover-text-indigo" onclick="this.parentElement.style.display='none'">&times;</span>
                    <br>
                    {% for message in messages %}
                    <p class="w3-center w3-text-indigo">{{ message }}</p>
                    {% endfor %}

                </div>

                <div class="col-sm-1">&nbsp;</div>

            </div>

        {% endif %}
    {% endwith %}

    <div class="row" style="margin-top: 4rem;">

        <div class="col-sm-2">&nbsp;</div>

        <div class="col-sm-8 w3-center" style="font-weight: bold;">

            <p class="w3-text-teal w3-xxlarge">Welcome to HmtDB!</p>
            <br />

            <p class="w3-text-indigo w3-large">HmtDB is a Human Mitochondrial Genomic Resource <br />Based on Variability Studies, <br />Supporting Population Genetics and Biomedical Research</p>
            <br />

            <div class="row">

                <div class="col-sm-2">&nbsp;</div>

                <div class="col-sm-4 text-center">
                    <button class="pulsanti w3-hover-light-blue w3-hover-text-indigo w3-padding w3-round-large w3-xlarge" onclick="location.href='{{ url_for('site.body') }}'" title="Access HmtDB">Enter HmtDB</button>
                </div>

                <div class="col-sm-4 text-center">
{#                    <button class="pulsanti w3-hover-light-blue w3-hover-text-indigo w3-padding w3-round-large w3-xlarge" onclick="location.href='{{ url_for('api.doc') }}'" title="HmtDB API">HmtDB API</button>#}
                    <button class="pulsanti w3-hover-light-blue w3-hover-text-indigo w3-padding w3-round-large w3-xlarge" onclick="location.href='{{ url_for('site.apis') }}'" title="HmtDB API">HmtDB API</button>
                </div>

                <div class="col-sm-2">&nbsp;</div>

            </div>

{#            <br />#}

        </div>

        <div class="col-sm-2">&nbsp;</div>

    </div>

    <div class="row" style="margin-top: 2rem;">

        <div class="col-sm-4">&nbsp;</div>

        <div class="col-sm-4 pulsanti w3-round-large" style="background-color: rgba(231,255,231,.6);">
            <span class="w3-closebtn w3-text-teal w3-hover-text-indigo" onclick="this.parentElement.style.display='none'">&times;</span>
            <h5 class="main_titles_noind w3-text-teal w3-left w3-padding-top">Updated: {{ latest_update }}.</h5><br>
            <h6 class="main_titles_noind w3-text-teal w3-left w3-padding-bottom">Total number of genomes: {{ totalGens }}.</h6>
        </div>

        <div class="col-sm-4">&nbsp;</div>

    </div>

    {# Loghi Sponsor #}
    <div class="row" style="margin-top: 2em;">

        <div class="col-sm-1">&nbsp;</div>

        <div class="col-sm-10">

            <!--<div class="w3-container">-->

                <div class="row w3-margin-small w3-center" style="display: inline-block">
                    <div class="col-sm-3" style="margin-top: -1.5em;">
                        <div class="w3-center">

                            <a href="https://mseqdr.org/index.php" target="_blank" title="MSeqDR">
                                <img src="{{ url_for('static', filename = 'img/logo_mseqdr.png') }}" alt="MSeqDR Logo">

                            </a>

                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="w3-center">

                            <a href="https://mseqdr.org/gbrowse_bridge.php" target="_blank" title="GBrowse">
                                <img src="{{ url_for('static', filename = 'img/GBrowseLogo.png') }}" alt="GBrowse Logo">
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="w3-center">

                            <a href="http://www.phylotree.org" target="_blank" title="PhyloTree">
                                <img src="{{ url_for('static', filename = 'img/logo_PhyloTree_mt.png') }}" alt="PhyloTree Logo">
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="w3-center">

                            <a href="https://mitomap.org//MITOMAP/" target="_blank" title="Mitoweb">
                                <img src="{{ url_for('static', filename = 'img/logo_mitoweb.jpg') }}" alt="Mitoweb Logo">
                            </a>

                        </div>
                    </div>
                </div>

            <!--</div>-->

        </div>

        <div class="col-sm-1">&nbsp;</div>

    </div>

    </div>

    {{ super() }}
{% endblock %}
