{% extends "base.html" %}

{% block content %}

    <div class="container">

    <div class="row">

        <div class="col-sm-12">

            <h3 class="main_titles">People at HmtDB</h3>

            <p class="paragraphs w3-padding">Many people currently work or have been working on HmtDB in the past few years. Here is a -constantly growing- list of people involved in this project.</p>

            <!-- Currently Involved -->
            <h4 class="main_titles">Currently involved</h4>

            <!-- First Row -->
            <div class="row w3-margin" style="display: inline-block;">

                <div class="col-sm-3">
                    <div class="w3-center">
                        <img class="w3-circle" src="{{ url_for('static', filename = 'img/people/MarAtt.png') }}" alt="Marcella Attimonelli" style="width: 60%">
                        <h4><b><a href="mailto:marcella.attimonelli@uniba.it" title="Email Marcella Attimonelli">Marcella Attimonelli</a></b></h4>
                        <h6>Associated professor, Department of Biosciences, Biotechnology and Biopharmaceutics, University of Bari, Italy</h6>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="w3-center">
                        <img class="w3-circle" src="{{ url_for('static', filename = 'img/people/DomSim2.png') }}" alt="Domenico Simone" style="width: 60%">
                        <h4><b><a href="mailto:dome.simone@gmail.com" title="Email Domenico Simone">Domenico Simone</a></b></h4>
                        <h6>Post-Doc Researcher, Linnaeus University, Centre for Ecology and Evolution in Microbial model Systems (EEMiS), Kalmar, Sweden</h6>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="w3-center">
                        <img class="w3-circle" src="{{ url_for('static', filename = 'img/people/Claudia_Calabrese.png') }}" alt="Claudia Calabrese" style="width: 60%">
                        <h4><b><a href="mailto:claudia.calabrese23@gmail.com" title="Email Claudia Calabrese">Claudia Calabrese</a></b></h4>
                        <h6>Post-Doc Researcher, Europen Bioinformatics Institute, EMBL Outstation - Hinxton, Cambridge, United Kingdom</h6>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="w3-center">
                        <img class="w3-circle" src="{{ url_for('static', filename = 'img/people/GiusGasp.jpg') }}" alt="Giuseppe Gasparre" style="width: 60%">
                        <h4><b><a href="mailto:giuseppe.gasparre@gmail.com" title="Email Giuseppe Gasparre">Giuseppe Gasparre</a></b></h4>
                        <h6>Researcher, Department of Medical and Surgical Sciences, Medical Genetics Unit, University of Bologna, Italy</h6>
                    </div>
                </div>

            </div>

            <!-- Second Row -->
            <div class="row w3-margin" style="display: inline-block">

                <div class="col-sm-3">
                    <div class="w3-center">
                        <img class="w3-circle" src="{{ url_for('static', filename = 'img/people/MariSant.png') }}" alt="Mariangela Santorsola" style="width: 60%">
                        <h4><b><a href="mailto:ma.santorsola@gmail.com" title="Email Mariangela Santorsola">Mariangela Santorsola</a></b></h4>
                        <h6>PhD in Bioinformatics, University of Bari, Italy</h6>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="w3-center">
                        <img class="w3-circle" src="{{ url_for('static', filename = 'img/people/MariDiR.png') }}" alt="Maria Angela Diroma" style="width: 60%">
                        <h4><b><a href="mailto:mariangeladiroma@gmail.com" title="Email Maria Angela Diroma">Maria Angela Diroma</a></b></h4>
                        <h6>PhD, Department of Biosciences, Biotechnology and Biopharmaceutics, University of Bari, Italy</h6>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="w3-center">
                        <img class="w3-circle" src="{{ url_for('static', filename = 'img/people/Ros3.png') }}" alt="Rosanna Clima" style="width: 60%">
                        <h4><b><a href="mailto:rosanna.clima@unito.it" title="Email Rosanna Clima">Rosanna Clima</a></b></h4>
                        <h6>PhD, University of Turin, Italy</h6>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="w3-center">
                        <img class="w3-circle" src="{{ url_for('static', filename = 'img/people/preste_roberto_web.jpg') }}" alt="Roberto Preste" style="width: 60%">
                        <h4><b><a href="mailto:roberto.preste@uniba.it" title="Email Roberto Preste">Roberto Preste</a></b></h4>
                        <h6>PhD Student, University of Bari, Italy</h6>
                    </div>
                </div>

            </div>

            <br />

            <h4 class="main_titles">People at HmtDB in the past years</h4>

            <p class="paragraphs w3-padding-left w3-padding-top"><b>Gaetano Scioscia</b> - IBM SemeA SUD, Bari, Italy</p>
            <p class="paragraphs w3-padding-left"><b>Pietro Leo</b> - IBM SemeA SUD, Bari, Italy</p>
            <p class="paragraphs w3-padding-left"><b>Luigi Zanchetta</b> - IBM SemeA SUD, Bari, Italy</p>
            <p class="paragraphs w3-padding-left"><b>Graziano Pappad&agrave</b> - IBM SemeA SUD, Bari, Italy</p>
            <p class="paragraphs w3-padding-left"><b>Cristiano Gutt&agrave</b></p>
            <p class="paragraphs w3-padding-left"><b>Matteo Accetturo</b></p>
            <p class="paragraphs w3-padding-left"><b>Francesco Calabrese</b></p>
            <p class="paragraphs w3-padding-left"><b>Daniela Lascaro</b></p>
            <p class="paragraphs w3-padding-left"><b>Maria Liapi</b></p>
            <p class="paragraphs w3-padding-left"><b>Roberta Piredda</b></p>
            <p class="paragraphs w3-padding-left"><b>Francesco Rubino</b></p>
            <p class="paragraphs w3-padding-left"><b>Monica Santamaria</b></p>

        </div>

    </div>

    </div>

    {{ super() }}
{% endblock %}
