{% extends "base.html" %}

{% block content %}

    <div class="container">

    <form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="row">

        <div class="col-sm-12">

            <h3 class="main_titles">HmtDB Registration</h3>
            <p class="paragraphs w3-padding">Sign up to obtain HmtDB authentication credentials. All fields are required. </p>

            {% with messages = get_flashed_messages() %}

                {% if messages %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <ul class="flashes"></ul>
                        {% for message in messages %}

                            <li>{{ message }}</li>

                        {% endfor %}
                    </div>
                {% endif %}

            {% endwith %}

        </div>

    </div>

    <br><br>

    <div class="row">

        <div class="col-sm-2">&nbsp;</div>

        <div class="col-sm-4 text-center">

            <p>Username: <br>
                <input class="w3-input w3-border w3-round-large w3-pale-green" type="text" id="username" name="username">
                <br>
                {% for error in form.username.errors %}
                    <span class="alert alert-danger">{{ error }}</span>
                {% endfor %}
            </p>

        </div>

        <div class="col-sm-4 text-center">

            <p>Email address: <br>
                <input class="w3-input w3-border w3-round-large w3-pale-green" type="email" id="email" name="email">
                <br>
                {% for error in form.email.errors %}
                    <span class="alert alert-danger">{{ error }}</span>
                {% endfor %}
            </p>

        </div>

        <div class="col-sm-2">&nbsp;</div>

    </div>

    <div class="row">

        <div class="col-sm-2">&nbsp;</div>

        <div class="col-sm-4 text-center">

            <p>Password: <br>
                <input class="w3-input w3-border w3-round-large w3-pale-green" type="password" id="password" name="password">
                <br>
                {% for error in form.password.errors %}
                <span class="alert alert-danger">{{ error }}</span>
                {% endfor %}
            </p>

        </div>

        <div class="col-sm-4 text-center">

            <p>Repeat password: <br>
                <input class="w3-input w3-border w3-round-large w3-pale-green" type="password" id="password2" name="password2">
                <br>
                {% for error in form.password2.errors %}
                <span class="alert alert-danger">{{ error }}</span>
                {% endfor %}
            </p>

        </div>

        <div class="col-sm-2">&nbsp;</div>

    </div>

    <div class="row">

        <div class="col-sm-2">&nbsp;</div>

        <div class="col-sm-4 text-center">

            <p>First Name: <br>
                <input class="w3-input w3-border w3-round-large w3-pale-green" type="text" id="first_name" name="first_name">
            </p>

        </div>

        <div class="col-sm-4 text-center">

            <p>Last Name: <br>
                <input class="w3-input w3-border w3-round-large w3-pale-green" type="text" id="last_name" name="last_name">
            </p>

        </div>

        <div class="col-sm-2">&nbsp;</div>

    </div>

    <br>

    <div class="row">

        <div class="col-sm-4">&nbsp;</div>

        <div class="col-sm-4 text-center">

            <input class="pulsanti w3-hover-light-blue w3-hover-text-indigo w3-padding w3-round-large w3-large" type="submit" name="registr_submit" value="Register">

        </div>

        <div class="col-sm-4">&nbsp;</div>

    </div>

    </form>

    </div>

    {{ super() }}
{% endblock %}
